@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #e1e6e1;
}

header {
    width: 100%;
    padding: 25px;

}

header a,
button {
    text-decoration: none;
    color: #989D9C;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;

}

header button {
    background-color: #665AE1;
    color: #e1e6e1;
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    transition: all 0.5s ease;
}

header a:hover {
    background-color: #989D9C;
    color: #e1e6e1;
    border-radius: 10px;
    cursor: pointer;

}

header button:hover {
    background-color: #3a2bd8;
    box-shadow: 0px 0px 20px 5px #665AE1;
    cursor: pointer;
    transform: scale(1.1);
}

.cbtn {
    background-color: #ADFF00;
    color: #000000;
    border-radius: 30px;
    padding: 10px 50px;
    margin-top: 40px;
    margin-left: 0;
    transition: all 0.5s ease;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.cbtn:hover {
    background-color: #ADFF00;
    box-shadow: 0px 0px 20px 5px #00ff22;
    cursor: pointer;
    transform: scale(1.1);
}

.contents {
    display: flex;
    align-items: center;
    max-width: 75%;

}

main h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    color: #515151;

}

main h2 {
    font-size: 58px;
    color: #515151;
    font-weight: 500;

}

main p {
    font-size: 24px;
    color: #848484;
    font-weight: 400;
}


.image-contents {
    flex: 1;
    padding: 80px;
    width: 400px;
}

.text-contents {
    flex: 1;
    width: 600px;
}



@media (max-width: 768px) {
    
    header a,
    .btn-login,
    .text-contents p {
        display: none;
    }

    main {
        height: calc(100vh - 250px); /* Tag nova ja servindo bem  */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contents {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .image-contents img {
        display: flex;
        width: 100%;
    }

    .text-contents {
        text-align: center;
        width: auto;
    }

    .image-contents {
        width: 100%;
        margin: auto;
        padding: 20px;
        padding-bottom: 24px;
    }

    .contents h1 {
        font-size: 50px;
        text-align: center;
        padding-bottom: 17px;
        


    }
    main h2 {
        font-size: 30px;
        padding-bottom: 7px;
    }

    .cbtn {
        margin-top: 17px;
        width: 240px;
        height: 65px;
        font-size: 28px;

        box-shadow: 2px 2px 5px rgba(105, 105, 105, 0.274)

    }
}