@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    cursor: crosshair;
}

header {
    margin: 32px 0px 163px 42px;

}

header a {
    font-size: 14px;
    font-weight: 400;
    color: #17233D;
    margin-right: 47px;
    cursor: pointer;

}

.button-header {
    background-color: #6FBF44;
    font-weight: 500;
    color: #FFFFFF;
    width: 124px;
    height: 51px;
    border: 1px solid #4bb611;
    border-radius: 5px;
    transition: all .4s ease;
}

.button-header:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 6px 10px #4bb6114d;
    
}

.logo-image {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 84px;

}

section h1 {
    width: 582px;
    height: 164px;
    margin-bottom: 47px;
    font-size: 62px;
    font-weight: 700;
    color: #161A49;
    cursor: text;
    
}

section p {
    width: 493px;
    height: 99px;
    margin-bottom: 55px;
    font-size: 18px;
    font-weight: 400;
    cursor: text;
    
}

.link-more {
    font-size: 18px;
    font-weight: 500;
    color: #6FBF44;
    cursor: pointer;
}

@media (max-width: 768px) {
  /* CSS do celular aqui */

  header a {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-image {
    width: 312px;
    height: auto;
    margin: 0;
  }

  section {
    margin: auto;
  }

  section h1 {
    width: 304px;
    height: 164px;
    font-size: 30px;
  }

  section p {
    width: 304px;
    height: 165px;
    font-size: 18px;
  }
}

